.heading, .logo,.button-section{
    display: inline-block;
}
@font-face {
    font-family: Integral CF Main Heading;
    src: url(Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf);
}
@font-face {
    font-family: Integral CF;
    src: url(Demo_Fonts/Fontspring-DEMO-integralcf-demiboldoblique.otf);
}
.h1{
    margin-top: 0%;
    padding-top: 0%;
    
}
.heading{
    margin-left: 100px;
    margin-right: 120px;
    position: relative;
    top: -27px;
    font-family:"Integral CF Main Heading";
    font-size: larger;
    
}
.button-section{
    margin-left: 50px;
    position: relative;
    top: -27px;
}
.button-text{
    text-decoration: none;
    font-weight: bold;
    color: grey;
    font-family: Integral CF Main Heading;
    cursor: pointer;
    font-weight: bolder;
    font-size: larger;
    padding: 10px;
}
.button-text :hover{
    color:black;
    border: 2px;
    opacity:  0.8;
    transition-duration: 0.1s;
}
.navi-buttons{
    border: none;
    background-color:white;
    color: grey;
    
    margin-right: 15px;
    border-radius: 4px;
}

.navi-buttons :hover{
    color:black;
    border: 2px;
    opacity:  0.8;
    transition-duration: 0.1s;
}
.navi-buttons :active{
    color:rgb(0, 116,124);
    opacity: 0.60;
    transition-duration: 0.1s;
}

.signup-button{

    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bolder;
    font-size: larger;
    padding: 10px;
    margin-right: px;
    position: relative;
    margin-left: 40px;
}
.signup-button :hover{
    color: #000;
    transition-duration: 0.2s;
    
}

.student-pic{
    width: 60%;
    height: auto;
    display: inline-block;
    margin-right: -70px;
    margin-left: 35px;
    

}
.student-sign{
    width: 60%;
    height: auto;
    display: inline-block;
    margin-right: -70px;
    margin-left: 100px;
    

}
.name-text-block{
    width:40%;
    display: inline-block;  
    vertical-align: top;
    margin-left:-35px;
;
}
.only-name{
    text-align: right;
    font-family:"Integral CF Main Heading";
    font-size: 40px;
    line-height: 3px;
}
.FirstName{
    margin-top: 3px;
    font-size: 60px;
    margin-bottom: 20px;
}
.text-color1{
    color: grey;
}
.text-color2{
    color: rgb(54, 53, 53);
}
.only-text{
    font-family:"Integral CF Main Heading";
    text-align: justify;

    line-height: 25px;
    
}
.text-color3{
    color: rgb(25, 154, 214);
}