.heading, .logo,.button-section{
  display: inline-block;
  
}

@font-face {
  font-family: Integral CF Main Heading;
  src: url(Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf);
}

@font-face {
  font-family: Integral CF;
  src: url(Demo_Fonts/Fontspring-DEMO-integralcf-demiboldoblique.otf);
}

.h1{
  margin-top: 0%;
  padding-top: 0%;
}

.heading{
  margin-left: 130px;
  margin-right: 160px;
  position: relative;
  top: -27px;
  font-family:"Integral CF Main Heading";
  font-size: larger;
  
}
.button-section{
  margin-left: 50px;
  position: relative;
  top: -27px;
}

.button-text{
  text-decoration: none;
  font-weight: bold;
  color: grey;
  font-family: Integral CF Main Heading;
  cursor: pointer;
  font-weight: bolder;
  font-size: larger;
  padding: 10px;
}
.button-text :hover{
  color:black;
  border: 2px;
  opacity:  0.8;
  transition-duration: 0.1s;
}
.navi-buttons{
  border: none;
  background-color:white;
  color: grey;
  margin-right: 15px;
  border-radius: 4px;
}

.navi-buttons :hover{
  color:black;
  border: 2px;
  opacity:  0.8;
  transition-duration: 0.1s;
}
.navi-buttons :active{
  color:rgb(6, 103, 110);
  opacity: 0.60;
  transition-duration: 0.1s;
}

.signup-button{
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: bolder;
  font-size: larger;
  padding: 10px;
  margin-right: px;
  position: relative;
  margin-left: 40px;
}
.signup-button :hover{
  color: #000;
  transition-duration: 0.2s;
  
}
body {
  font-family: Arial, sans-serif;

}

.quiz-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

.quiz-header {
  text-align: center;
  margin-bottom: 30px;
  font-family:"Integral CF Main Heading";
}

.quiz-body {
  margin: 0 auto;
  width: 80%;
}

.question {
  margin-bottom: 20px;
}

.question h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.button-section-inform{
  margin-left: 200px;
}
label {
  display: block;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

.buttons{
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.buttons:hover {
  background-color: #3e8e41;
}

#submit-button{
  margin-right: 30px;
}
.button-section{
  text-align: center;
}
#reset-button{
  background-color: red;
}

  footer{
    background-color: white;
    margin-top: 10px;
}

.footer-buttons{
    display: inline-block;
    position: relative;
    right: -200px;
    margin-right: px;
    font-family:Integral CF Main Heading;
}

.footer-text{
    display: inline-block;
    margin-right: 100px;
    margin-left: 350px;
    font-family: Integral CF Main Heading;
}

